<div id="<%= dom_id ai_message %>">
  <div class="d-flex justify-content-between">
    <strong><%= ai_message.role %></strong>
    <%= button_to experience_ai_message_path(@experience, ai_message),
                  method: :delete,
                  data: {
                    "turbo-method": :delete,
                    "turbo-confirm": "Are you sure you want to delete this message?" },
                  class: "btn btn-link" do %>
      <i class="fa-solid fa-x text-danger"></i>
    <% end %>
  </div>
  <% if ai_message.content.nil? %>
    <div class="text-center my-5">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  <% else %>
    <%= markdown ai_message.content %>
  <% end %>
</div>
