<div id="<%= dom_id ai_message %>">
  <p>
    <strong>Experience:</strong>
    <%= ai_message.experience_id %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= ai_message.role %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= ai_message.content %>
  </p>

</div>
