<h1>Ai messages</h1>

<div id="ai_messages">
  <% @ai_messages.each do |ai_message| %>
    <%= render ai_message %>
    <p>
      <%= link_to "Show this ai message", experience_ai_message_path(@experience, ai_message) %>
    </p>
  <% end %>
</div>

<%= link_to "New ai message", new_experience_ai_message_path(@experience) %>
