<div class="container my-5">
  <h1>Editing experience</h1>
  <div class="d-flex justify-content-between">
    <%= link_to "Show this experience", @experience %>
    <%= link_to "Back to experiences", experiences_path %>
  </div>
  <%= render "form", experience: @experience %>
</div>
