<div class="container my-5">
  <div class="mb-2">
    <%= link_to @job_listing do %>
      <i class="fa-solid fa-arrow-left fa-2xl"></i>
    <% end %>
  </div>
  <h1>Editing job listing</h1>
  <%= render "form", job_listing: @job_listing %>
</div>