<div class="container my-5">
  <div class="mb-2">
    <%= link_to job_listings_path do %>
      <i class="fa-solid fa-arrow-left fa-2xl"></i>
    <% end %>
  </div>
  <%= render @job_listing %>
</div>